@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  --semi-bold: 600;
  --regular: 400;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.1rem;
}

/* ---------------------------------- Header Styles ---------------------------------*/
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url(../img/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header > .header-img {
  padding: 4rem 3rem;
}

header > h1 {
  text-align: center;
  color: var(--dark-grayish);
}

header > .lead {
  color: var(--grayish-blue);
  text-align: center;
  padding: 1.2rem;
}

header > .btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-container {
  margin-top: 1.5rem;
}

.btn-container > .btn-primary,
.btn-secondary {
  width: 75%;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-radius: 30px;
  margin: 0.5rem 1rem;
  box-shadow: 2px 3px 15px var(--grayish-blue);
}

.btn-primary:hover,
.btn-primary:active,
.btn-secondary:hover,
.btn-secondary:active {
  cursor: pointer;
  opacity: 0.8;
}
.btn-primary {
  background-color: var(--strong-cyan);
}

.btn-secondary {
  background-color: var(--light-blue);
}

/* ---------------------------------- Section One Styles ---------------------------------*/

main > .section-one {
  margin-top: 8rem;
}

.section-one > .section-container-one {
  margin: 1.5rem;
  text-align: center;
}

.section-container-one > .section-one-h2 {
  color: var(--dark-grayish);
}

.section-container-one > .section-one-lead {
  color: var(--grayish-blue);
  padding-top: 1rem;
}

.section-one-container-two {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.section-one-img-container > .computer-image {
  padding: 1.5rem;
}
.section-one-articles-container > article {
  text-align: center;
  padding: 1.5rem;
}

.section-one-articles-container > article > h2 {
  color: var(--dark-grayish);
  margin-bottom: 0.5rem;
}

.section-one-articles-container > article > p {
  color: var(--grayish-blue);
}

/* ---------------------------------- Section Two Styles ---------------------------------*/

main > .section-two {
  /* top | right | bottom | left */
  margin: 8rem 1.3rem 6rem 1.3rem;
}

.section-two > .section-two-heading {
  text-align: center;
  color: var(--dark-grayish);
  margin-bottom: 1rem;
}

.section-two > .section-two-content {
  text-align: center;
  color: var(--grayish-blue);
  margin-bottom: 4rem;
}

/* ---------------------------------- Section Three Styles ---------------------------------*/
main > .section-three {
  margin: 0 1.5rem 6rem 1.5rem;
}

.section-three > .section-three-sub-container {
  text-align: center;
}

.section-three-sub-container > .section-three-sub-container-heading {
  color: var(--dark-grayish);
}

.section-three-sub-container > .section-three-sub-container-content {
  color: var(--grayish-blue);
}

.section-three-articles {
  text-align: center;
  margin: 3rem 0;
}

.section-three-articles > .section-three-art-one > .section-three-art-img,
.section-three-art-two > .section-three-art-img,
.section-three-art-three > .section-three-art-img {
  margin: auto;
}

.section-three-articles > .section-three-art-one > .section-three-art-heading-one,
.section-three-art-two > .section-three-art-heading-two,
.section-three-art-three > .section-three-art-heading-three {
  color: var(--dark-grayish);
  margin: 1rem 0;
}

.section-three-articles > .section-three-art-one > .section-three-art-content-one,
.section-three-art-two > .section-three-art-content-two {
  margin-bottom: 3rem;
  color: var(--grayish-blue);
}

.section-three-articles > .section-three-art-three > .section-three-art-content-three {
  color: var(--grayish-blue);
}

/* ---------------------------------- Section Four Styles ---------------------------------*/

.section-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}

.section-four > img {
  padding: 1.7rem;
}

/* ---------------------------------- Section Five Styles ---------------------------------*/
.section-five > h2 {
  text-align: center;
  margin: 0 1.7rem;
  color: var(--dark-grayish);
}

.section-five > p {
  text-align: center;
  margin: 1rem 1.7rem;
  color: var(--grayish-blue);
}
.section-five > .btn-container {
  margin-top: 2.5rem;
  margin-bottom: 8rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* ---------------------------------- Footer Styles ---------------------------------*/
footer {
  background-color: hsl(220, 18%, 97%);
}

footer > .footer-container-one > img {
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
}

footer > .footer-container-one > ul {
  padding-left: 0;
}

footer > .footer-container-one > ul > li {
  list-style: none;
  text-align: center;
  padding: 1rem;
}

footer > .footer-container-one > ul > li > a {
  text-decoration: none;
  color: var(--dark-grayish);
}

footer > .footer-container-one > ul > li > a:hover,
footer > .footer-container-one > ul > li > a:active {
  color: var(--strong-cyan);
}

footer > .footer-container-two {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > .footer-container-two > a {
  margin: 1rem;
}

footer > .footer-container-two > a > i {
  font-size: 1.7rem;
  color: var(--dark-grayish);
}
@media only screen and (min-width: 1300px) {
  /* ---------------------------------- Header Styles (Desktop) ---------------------------------*/
  header {
    display: flex;
    flex-direction: column;
    background-image: url(../img/bg-header-desktop.png);
  }

  header > h1 {
    font-size: 3.3rem;
  }

  header > .lead {
    font-size: 1.5rem;
    padding: 1.2rem 15rem;
  }

  header > .btn-container {
    flex-wrap: nowrap;
    align-items: center;
  }

  header > .btn-container > .btn-primary,
  .btn-secondary {
    width: 100%;
    white-space: nowrap;
    padding: 1rem 4rem;
  }

  /* ---------------------------------- Section One Styles (Desktop) ---------------------------------*/
  .section-one > .section-container-one > .section-one-h2 {
    font-size: 3rem;
  }

  .section-one > .section-container-one > .section-one-lead {
    font-size: 1.5rem;
    padding: 1rem 14rem;
  }

  .section-one-container-two {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .section-one-img-container > .computer-image {
    transform: translateX(-100px);
    padding-right: 0;
    width: 1300px;
  }
  .section-one-articles-container > article {
    text-align: left;
    margin-top: 1rem;
    padding-left: 0;
    padding-right: 12rem;
  }

  .section-one-articles-container > article > h2 {
    font-size: 2rem;
  }

  .section-one-articles-container > article:first-of-type {
    padding-top: 0;
    padding-bottom: 0;
  }
  .section-one-articles-container > article:nth-of-type(2) {
    padding-bottom: 0;
  }

  /* ---------------------------------- Section Two Styles (Desktop) ---------------------------------*/
  main > .section-two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .section-two > .section-two-heading {
    font-size: 3rem;
  }
  .section-two > .section-two-content {
    font-size: 1.5rem;
    margin-bottom: 8rem;
    padding: 0 15rem;
  }

  /* ---------------------------------- Section Three Styles (Desktop) ---------------------------------*/
  main > .section-three {
    margin: 0;
  }
  .section-three-sub-container-heading {
    font-size: 3rem;
  }

  .section-three-sub-container-content {
    font-size: 1.5rem;
  }

  .section-three-articles {
    display: flex;
    justify-content: center;
    margin: 8rem;
  }

  .section-three-articles > article {
    padding: 2rem;
  }
  .section-three-art-heading-one,
  .section-three-art-heading-two,
  .section-three-art-heading-three {
    font-size: 1.5rem;
  }

  /* ---------------------------------- Section Four Styles (Desktop) ---------------------------------*/
  .section-four {
    flex-direction: row;
    align-items: center;
  }

  .section-four > img {
    padding: 3rem;
  }

  /* ---------------------------------- Section Five Styles (Desktop) ---------------------------------*/
  .section-five > h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .section-five > p {
    font-size: 1.5rem;
    margin: 0 12rem;
  }

  .section-five > .btn-container {
    flex-wrap: nowrap;
    margin-right: 22rem;
    margin-left: 22rem;
  }
  .section-five > .btn-container > .btn-primary,
  .btn-secondary {
    width: 50%;
    white-space: nowrap;
  }
}
